<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="API_KEY" value="7428e935"/>
      <add key="API_SECRET" value="sbNNSh5KaXOopxLZ"/>
      <add key="APP_ID" value="aea45736-6ed6-44ad-b1f7-4a419e422400"/>
      <add key="privateKey" value="-----BEGIN PRIVATE KEY-----
MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCpe0YK5R8VYaYo
FiZ+f2dIHwF5Dxq1CLlewxPJ+/PslmDdSCxnqREPVrAZbSWvZU/q7uiLoIUPMqDT
0PBcNfxoaZdfn5bW5bFTh/uy2L/RuyCaUr+7uWBjpC8vMiJcicSsL1UugrkdPNam
y2+oD1ZfjLQeI/NMe1Dp/7XahmYdttoGBuzpY0glA+Y4xWRb2Jj6AeZFuKmhQC1g
5wMVNfu5ckljtkbSaSoK18DdISYFuHi3ryjgG1IlFrLat5bJ5ABTS+UtZtOckBdr
ZvHVpEP+Suz4XO8itaTLbc84NZ4/sCB8JZM8dG6TvLhx++oMjAKo9QZsa0SCmDlj
KLhUuFzjAgMBAAECggEAALZjc31GFa1s6OM68zIu6Xcz5uHg31zzhon0Zdd4zYhO
TO/WO/NSfomDQQAb9fJLlTW+5YNdu9QfJ/TLZd/WOUwkVkMR+8JIbgz2ymgt2kBa
oTty0eO0G4cfqaegzFnJ6V1jksf65jwQvO/C/uZdmxY41Z2aErq7+tfX2FzTRhGy
dZXB1kr2Aeih46FjbuFkSiOXguQyx+ZmnJuX7jai6t69GNPFGmpXFxcDdRzMZdoy
YCNpElmwhsnPP6PO4mSs6VhSOo9XTKmd4jAT7U/0sKA4Q2fl87yfPJhSS2xtfujq
n4oriNK0afPs6tNRDboFi2Kg99Ls+VdfcaB0WZKiKQKBgQDSdMQJJPFtFwvNuevr
SlB2YZSWUMEnuUqMVfZhRKtCKk/vAzxQcCLozTcnc4EuRwmojY6+/5ONte8MFMaF
/52QTlsBJ91nZle/Cep9vKGoEWS9Nv2R0E7KMIUDFvhDz/2Fq7oaGFWWzRVXTVNs
cTV57zphEX0Nlpnnfb/qeNodOwKBgQDOKIXdrlTFVshtvVBannilH0YlOnamhNQq
jym+VdKeJCD9ZMgU4Dx+K2lERZy0s3G8zd4+bRB6HgAgFVZT+K46GwaoqXqvk68+
FGWUuPHhinxbxsw3GS+XCPfEd+pDW1Yd3/GtLwyAv16OcRn3wkuYm9VD1MHMviOw
NliQgUjkeQKBgA8Ovavt0bw9ZuHMSJ3oDkO6DZiHpJpD/pp12A/zitFMF7YBJEKZ
E1ZWwHh5Iif+eyltH2Z5AMSl3LmfjuitdkeJ46b8hDHOt756ZiWi5moQ/IUxNwlE
vy5mNE4ZSaAIdJooxELztMP6XmmFpc9fdjUIMcQaLTlYqiBO9fk/tlNbAoGAac4M
XiiRozIV7ZRiwA9i9cPmOUcXDAFR7oHJN8FONhFuyP3HXkdzZIGdJgfgFDGgZvj1
Xe6VrUbmY5Dv3Grd6D5knX1V1PSj1OWc+MYuhcWQa33M415OuWJF3xR4K5edy/la
TLq/3PfabJqJbEnQiIM54fU4fX78S/yoWYmwwmkCgYEAjDL4LD+ph+Y2YBocw6Gd
UF9LirV/PoDhrUWHltMMYI3RsjaUuuzsSqlw0MrGGEf4B4HNt55vFcYcKtvpFNA/
AByOUu9oNfUIDXwTraQIpk5rgbInoK5CzLMKasxyV//1vpH7Eek+HNplxRgqaEnL
9QZDDt+zkVu7H/wa3397X4I=
-----END PRIVATE KEY-----
"/>      
    </appSettings>
</configuration>